<div class='container mt-5' id="quotes">
    <h1 style="color: rebeccapurple;">QUOTE FOR DEVS:</h1>

    <div class="row">
        <div class="col-md-6">
            <ul>
                <li *ngFor='let quote of quotes;let i=index'>{{quote.text}} by <strong>{{quote.name}}</strong>
                    <br>
                    <button (click)='toggleDetails(i)' class="btn btn-success">More details</button> <br>
                    <app-quote-detail *ngIf='quote.showName' [quote]='quote' (deletequoteevent)='deleteQuote($event,i)' (likequoteevent)='likeQuote($event,i)' (dislikequoteevent)='dislikeQuote($event,i)'></app-quote-detail>
                </li>

            </ul>
        </div>
        <div class="col-md-6">
            <app-upload-form (addQuote)="addNewQuote($event)"></app-upload-form>
        </div>
    </div>
</div>